1 ICON "schooner1.ico"

1 VERSIONINFO
FILEVERSION     0,1,0,0
PRODUCTVERSION  0,1,0,0
FILEFLAGSMASK   0X3FL
FILEFLAGS       0X0L
FILEOS          0X40004L
FILETYPE        0X1L
FILESUBTYPE     0X0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0" // U.S. English / Unicode translation ID
        BEGIN
            VALUE "CompanyName",      "Gabriel P Stone"
            VALUE "FileDescription",  "Tombstone City: 21st Century"
            VALUE "FileVersion",      "0.1.0.0"
            VALUE "InternalName",     "tc21"
            VALUE "LegalCopyright",   "© 2026 Gabriel P Stone"
            VALUE "OriginalFilename", "tc21.exe"
            VALUE "ProductName",      "Tombstone City: 21st Century"
            VALUE "ProductVersion",   "0.1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x1200
    END
END
